<h1>hey hey hey want some chicken today</h1>
<h2>if so, sign up below!</h2>
<form action='/signup' method='POST'>
    <label>Username</label>
    <input type='text'name='username'></br>
    <label>Password</label>
    <input type='password' name="password"></p>
    <input type="submit" value="Sign Up!">
</form>
